.card-container {
    background-color: white;
    width: 100%;
    
}

.employee-card {
    text-align: center;
    width: 23%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 2%;
    border-radius: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    aspect-ratio: 9 / 12;
    transition: 0.2s;
    background-color: white;
}
.employee-card:hover {
    scale: 1.03;
    transition: 0.3s;
    transform: rotate(calc(4deg * var(--rot-scalar)));
    /* transform: rotate(4deg); */
}

.border-new {
    box-shadow: 0 0 5px rgba(255, 73, 73, 0.8), 
                0 0 10px rgba(255, 73, 73, 0.8),
                0 0 15px rgba(255, 73, 73, 0.8);
}

.border-experienced {
    box-shadow: 0 0 5px rgba(255, 234, 0, 0.8), 
                0 0 10px rgba(255, 234, 0, 0.8),
                0 0 15px rgba(255, 234, 0, 0.8);
}

.border-medium {
    box-shadow: 0 0 5px rgba(134, 134, 134, 0.8),
                0 0 10px rgba(134, 134, 134, 0.8),
                0 0 15px rgba(134, 134, 134, 0.8);
}

.card-name {
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 1.9vw;
}

.card-role {
    margin-top: 0px;
    font-size: 1vw;
}

.card-email {
    margin-top: 10px;
    font-size: 1.3vw;
}

.card-years {
    color: rgb(86, 86, 86);
}

.employee-image {
    width: 80%;
    border-radius: 50%;
}

@media screen and (max-width: 1500px) {
    .employee-card {
        width: 31%;
    }
    .card-name {
        font-size: 2.2vw;
    }
    .card-email {
        font-size: 1.7vw;
    }
    .card-role {
        font-size: 1.3vw;
    }
}

@media screen and (max-width: 1200px) {
    .employee-card {
        width: 48%;
        margin-bottom: 3%;
    }
    .card-name {
        font-size: 3vw;
    }
    .card-email {
        font-size: 2.2vw;
    }
    .card-role {
        font-size: 1.7vw;
    }
}


@media screen and (max-width: 900px) {
    .employee-card {
        width: 98%;
        margin-bottom: 5%;
        aspect-ratio: 1 / 1;
    }
    .card-name {
        font-size: 6vw;
    }
    .card-role {
        font-size: 3vw;
    }

    .card-email {
        font-size: 5vw;
    }

    .card-role {
        font-size: 2.7vw;
    }
}
